// 代码风格
@import "./theme.scss";

ol, ul {
	list-style: none;
  margin: 0;
  padding: 0;
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  line-height: 1.5em;
  td{
    border-top: 1px solid #dcdfe6;
    border-bottom: 1px solid #dcdfe6;
    padding: 0.6em 1em;
    text-align: center;
    max-width: 250px;
    white-space: pre-wrap;
  }
}

::-webkit-scrollbar{
  display: none;
}


.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}

.pl-10{
  padding-left: 10px;
}
.pl-20{
  padding-left: 20px;
}
.pr-10{
  padding-right: 10px;
}
.pr-20{
  padding-right: 20px;
}

.l-hegight{
  line-height: 32px;
}