.m-dialog{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  height: 100%;
  background: rgba(0,0,0,.5);
  overflow: auto;
  .m-dialog__contentbox{
    position: relative;
    margin: 0 auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    box-sizing: border-box;
    width: 50%;
    .m-dialog__header{
      width:100%;
      height: 50px;
      line-height: 50px;
      position: relative;
      padding-left: 20px;
      box-sizing: border-box;
      border-bottom:1px solid #f0f0f0;
      .m-dialog__title{
        line-height: 50px;
        font-size: 18px;
        color: #303133;
      }
      .icon-close{
        line-height: 50px;
        font-size: 17px;
        position: absolute;
        right: 5px;
        top: 0;
        cursor: pointer;
        display: inline-block;
        width: 50px;
        text-align: center;
      }
    }
    .m-dialog__body{
      padding:20px;
      box-sizing: border-box;
    }
    .m-dialog__footer{
      border-top:1px solid #f0f0f0;
      text-align: right;
      padding: 20px;
      box-sizing: border-box;
    }
  }
  .m-dialog--center{
    .m-dialog__header{
      text-align: center;
    }
    .m-dialog__footer{
      text-align: center;
    }
  }
}