@import '../common/base.scss';

.m-input-number{
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: 38px;
  &:hover{
    border-color: $primary;
  }
  .m-input-number__decrease,
  .m-input-number__increase{
    position: absolute;
    z-index: 1;
    top: 1px;
    width: 40px;
    height: auto;
    text-align: center;
    background: #f5f7fa;
    color: #606266;
    cursor: pointer;
    font-size: 13px;
  }
  .m-input-number__decrease{
    left: 1px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #dcdfe6;
  }
  .m-input-number__increase{
    right: 1px;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #dcdfe6;
  }
  .m-input__inner{
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    &:focus{
      border-color: $primary;
    }
  }
  .is-disabled{
    cursor: not-allowed;
  }
}
.is-disabled{
  cursor: not-allowed;
  .m-input-number__decrease,
  .m-input-number__increase{
    border-color: #e4e7ed;
    color: #e4e7ed;
  }
  .m-input__inner{
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }
}
.is-controls-right{
  .m-input-number__decrease{
    right: 1px;
    bottom: 1px;
    top: auto;
    left: auto;
    border-right: none;
    border-left: 1px solid #dcdfe6;
    border-radius: 0 0 4px 0;
    height: 19px;
    line-height: 19px;
  }
  .m-input-number__increase{
    height: 19px;
    line-height: 19px;
    border-bottom: 1px solid #dcdfe6;
  }
  .m-input__inner{
    padding-left: 15px;
    padding-right: 50px;
  }
  &.m-input-number--medium{
    .m-input-number__decrease{
      height: 17px;
      line-height: 17px;
    }
    .m-input-number__increase{
      height: 17px;
      line-height: 17px;
    }
  }
  &.m-input-number--small{
    .m-input-number__decrease{
      height: 14px;
      line-height: 14px;
    }
    .m-input-number__increase{
      height: 14px;
      line-height: 14px;
    }
  }
}
.m-input-number__decrease.is-disabled,
.m-input-number__increase.is-disabled{
  border-color: #e4e7ed;
  color: #c0c4cc;
}

.m-input-number--medium{
  width: 150px;
  line-height: 32px;
  .m-input__inner{
    width: 150px;
    height: 34px;
  }
}
.m-input-number--small{
  width: 130px;
  line-height: 28px;
  .m-input__inner{
    width: 130px;
    height: 30px;
  }
}