.m-textarea-default{
  width:auto;
  height:auto;
  display: inline-block;
  overflow: hidden;
  position: relative;
  textarea{
    padding:0;
    outline: none;
    border:1px solid #dcdfe6;
    transition: all .2s ease;
    border-radius: 3px;
    padding:8px;
    box-sizing: border-box;
    font-size:14px;
    color:#606266;
    background-color: transparent;
    font-family: auto;
    &:focus,&:active,&:focus-visible{
      border:1px solid #0e80eb;
    }
  }
  .m-textarea-disabled{
    cursor: not-allowed;
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    &:focus,&:active,&:focus-visible{
      border:1px solid #dcdfe6;
    }
  }
  .max-length-box{
    font-size:14px;
    color:#606266;
    position: absolute;
    bottom:10px;
    right:10px;
  }
}